@using DTO;
@using View.Models;
@model PagedViewModel<RegionViewModel>
@{
    ViewBag.Title = "Regiões";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="row">
    <div class="col-md-12">
        <div class="box">
            <div class="box-header with-border">
                <h3 class="box-title">Regiões</h3>
            </div><!-- /.box-header -->
            <div class="box-body">
                <table class="table table-bordered">
                    <tr>
                        <th style="width: 10px">@Html.DisplayNameFor(model => model.rows.First().RegionID)</th>
                        <th>@Html.DisplayNameFor(model => model.rows.First().RegionDescription)</th>
                        <th></th>
                    </tr>
                    @foreach (var item in Model.rows)
                    {
                        <tr>
                            <td>@Html.DisplayFor(modelItem => item.RegionID)</td>
                            <td>@Html.DisplayFor(modelItem => item.RegionDescription)</td>
                            <td>
                                @Html.ActionLink("Edit", "Edit", new { id = item.RegionID }) |
                                @Html.ActionLink("Details", "Details", new { id = item.RegionID }) |
                                @Html.ActionLink("Delete", "Delete", new { id = item.RegionID })
                            </td>
                        </tr>

                    }
                </table>
            </div><!-- /.box-body -->
           
            <div class="box-footer clearfix">
                <ul class="pagination pagination-sm no-margin pull-right">
                    <li>
                        @if (!Model.IsFirstPage)
                        {
                        <a href="@Url.Action("ListRegions", "Region", new { page = Model.PageNumber - 1 } )">&laquo;</a>
                        }
                        else
                        {
                        <a href="#">&laquo;</a>
                        }
                    </li>

                    @for (int i = (Model.PageNumber - 1 <= 0 ? 1 : Model.PageNumber); i <= (Model.PageNumber + 1 > Model.PageCount ? Model.PageNumber : Model.PageNumber + 1); i++)
                    {
                    <li>
                        <a href="@Url.Action("ListRegions", "Region", new { page = i } )">@i</a>
                    </li>
                    }
                    <li>
                        @if (!Model.IsLastPage)
                        {
                        <a href="@Url.Action("ListRegions", "Region", new { page = Model.PageNumber + 1 } )">&raquo;</a>
                        }
                        else
                        {
                        <a href="#">&raquo;</a>
                        }
                    </li>
                </ul>
            </div>
            <br />
            <div class="box-footer clearfix">


                @(Model.PageNumber) of @(Model.TotalItemCount / Model.PageSize)

            </div>
        </div><!-- /.box -->
    </div>
</div>
